{template header_home}
<div id="mainFrame">
	<div class="top">
        <span>成绩查询</span>
    </div>
	<form method="post" autocomplete="off">
    <input type="hidden" name="formsubmit" value="yes">
    <input type="hidden" name="formhash" value="{FORMHASH}">
	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="listtable goodslist">
      <thead>
      <tr>
      	 <th width="40"><center>序号</center></th>
        <th>考试项目</th>
        <th width="140">考试时间</th>
        <th width="140">交卷时间</th>
        <th width="80">用时</th>
        <th width="60"><center>已交卷</center></th>
        <th width="60"><center>成绩</center></th>
      </tr>
      </thead>
      <tbody>
      {eval $orderno=1;}
      {loop $recordlist $recordid $list}
      <tr>
      	 <td><center>$orderno</center></td>
        <td>
        	<h3><a href="/?m=exam&c=paper&a=viewpaper&recordid=$list[recordid]" target="_blank">{$paperlist[$list[paperid]][name]}</a></h3>
        </td>
        <td>{$list[starttime]}</td>
        <td>{$list[submittime]}</td>
        <td>{$list[spenttime]}</td>
        <td><center>{if $list[submited]}是{else}否{/if}</center></td>
        <td><center>{$list[score]}</center></td>
      </tr>
      {eval $orderno++;}
      {/loop}
      </tbody>
    </table>
    </form>
</div>
{template footer_home}