        <div class="newpost-content" id="p-content-subtitle">
        	<h3 class="content-sub-title">别名</h3>
			<div class="content-body"><input type="text" class="input-text" name="newpost[alias]" value="$article[alias]"></div>
        </div>
        <div class="newpost-content" id="p-content-summary">
        	<h3 class="content-sub-title">摘要</h3>
			<div class="content-body"><textarea class="textarea-summary" name="newpost[summary]">$article[summary]</textarea></div>
        </div>
        
    </div>
    <div class="newpost-attribute">
        <!--图像-->
        <div class="newpost-content" id="p-content-image">
        	<h3 class="content-sub-title">图像</h3>
            <div class="content-body">
                <input type="hidden" name="newpost[pic]" node="pic" value="$article[pic]">
                {if $G[ac]=='edit' && $article[pic]!=''}
                <div id="image-view">
                    <div class="image-preview"><img src="$article[pic]" id="imagePreview"></div>
                    <div class="action-item"><a href="javascript:;" class="add-new" id="remove-image"><span class="icon">&#xf0153;</span>移除图像</a></div>
                </div>
                <div class="action-item" id="upload-view" style="display:none;"><a href="javascript:;" class="add-new" id="upload-image"><span class="icon">&#xf0154;</span>添加图像</a></div>
                {else}
                <div id="image-view" style="display:none;">
                    <div class="image-preview"><img src="" id="imagePreview"></div>
                    <div class="action-item"><a href="javascript:;" class="add-new" id="remove-image"><span class="icon">&#xf0153;</span>移除图像</a></div>
                </div>
                <div class="action-item" id="upload-view"><a href="javascript:;" class="add-new" id="upload-image"><span class="icon">&#xf0154;</span>添加图像</a></div>
                {/if}
            </div>
        </div>
        <div class="newpost-content" id="p-content-category">
        	 <h3 class="content-sub-title">目录分类</h3>
            <div class="content-body">
                <select name="newpost[catid]" class="select" node="catid">
                    $categoryoptions
                </select>
            </div>
        </div>
        <div class="newpost-content" id="p-content-publish">
        	 <h3 class="content-sub-title">发布</h3>
            <div class="content-body">
            	 {if $G[ac]=='edit'}
            	 <span class="input-button input-publish" tabindex="1" id="publish">更新</span>
               {else}
               <span class="input-button input-publish" tabindex="1" id="publish">发布</span>
               {/if}
                <!--<span class="input-button" tabindex="1" onclick="preView()">预览</span>-->
            </div>
        </div>
        
        <div class="newpost-content" id="p-content-tag">
        	<h3 class="content-sub-title">标签</h3>
            <div class="content-body">
                <div id="tagLabel" class="tagLabel"></div>
                <input type="text" class="input-text input-text2" node="newtag">
                <span class="input-button input-button-small" tabindex="1" id="button-addtag">添加</span>
                <div class="action-item"><a href="javascript:;" class="add-new" onclick="$('#tagSelectLabel').toggle()">从常用标签中选择</a></div>
                <div id="tagSelectLabel" style="display:none;">
                    {loop $tags $k $tag}
                    <a href="javascript:;" class="tagitem" title="$tag[tag]"><span>$tag[tag]</span></a>
                    {/loop}
                </div>
            </div>
        </div>
        
        <div class="newpost-content" id="p-content-comment">
        	<h3 class="content-sub-title">评论设置</h3>
            <div class="content-body">
                <p><input type="checkbox" value="-1" name="newpost[allowcomment]"> 禁止评论</p>
            </div>
        </div>
        
    </div>
    <div class="clearfix"></div>
    </form>
<script type="text/template" id="tplUploadImage">
<div class="upload-image">
	<div class="title"><span class="close" title="关闭">×</span>上传图像</div>
	<div class="content">
		<div class="preview"><img id="uploadedimage" title="点击插入图片"></div>
		<div class="loading"><img src="/static/images/common/loading32.gif" border="0">正在上传图片...</div>
		<form method="post" enctype="multipart/form-data" id="form-upload-image">
			<div class="upload-image-button"><span class="icon">&#xf0024;</span>上传图片<input type="file" name="filedata" class="file"></div>
		</form>
	</div>
</div>
</script>
<script src="/static/js/newpost.js" type="text/javascript"></script>
{template home_footer}