{template header_home}
<div id="mainFrame">
	<form method="post" autocomplete="off">
    <input type="hidden" name="formsubmit" value="yes">
    <input type="hidden" name="formhash" value="{FORMHASH}">
	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="listtable goodslist">
      <thead>
      <tr>
        <th width="30"><input type="checkbox" class="checkbox" onclick="DSXCMS.checkAll(this,'tid[]');"></th>
        <th width="100">图片</th>
        <th>需求项目</th>
        <th width="120">联系方式</th>
        <th width="60">点击</th>
        <th width="110">发布时间</th>
      </tr>
      </thead>
      <tbody>
      {loop $tasklist $tid $list}
      <tr>
        <td><input type="checkbox" value="{$tid}" name="tid[]"></td>
        <td><div class="pic"><img src="{$list[pic]}"></div></td>
        <td>
        	<h3><a href="/?m=task&c=detail&tid={$tid}" target="_blank">{$list[title]}</a></h3>
           <p><a href="/?m=home&c=task&a=edit&tid={$tid}">编辑</a> <a href="/?m=task&c=detail&tid={$tid}" target="_blank">查看</a></p>
        </td>
        <td>{$list[contact]}</td>
        <td>{$list[viewnum]}</td>
        <td>{$list[dateline]}</td>
      </tr>
      {/loop}
      </tbody>
      <tfoot>
      <tr>
        <td colspan="8" style="padding:15px 10px;">
        	<div class="pages">{$pages}</div>
           <input type="submit" class="button submit" value="删除">
        </td>
      </tr>
      </tfoot>
    </table>
    </form>
</div>
{template footer_home}