{template header}
<h2>活动管理</h2>
<form method="post">
<input type="hidden" name="formsubmit" value="yes" />
<input type="hidden" name="formhash" value="{FORMHASH}">
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="listtable">
<thead>
  <tr>
    <th width="30"><input type="checkbox" class="checkbox" name="id[]" value="0" onclick="DSXCMS.checkAll(this,'[node=deleteid]')"></th>
    <th>$lang[article_title]</th>
    <th width="50">$lang[article_views]</th>
    <th width="120">$lang[pubtime]</th>
    <th width="70">状态</th>
  </tr>
 </thead>
 <tbody>
  <!--{loop $articlelist $key $article}-->
  <tr>
    <td><input type="checkbox" class="checkbox" node="deleteid" name="delete[]" value="$post[id]"></td>
    <th>
    	<a href="/?m=post&c=edit&id=$article[id]" target="_blank">$article[title]</a>
        <div class="actions">
        	<a href="/?m=post&c=edit&a=form&id=$article[id]" target="_blank">编辑</a> |
            <a href="/?m=post&c=detail&id=$article[id]" target="_blank">查看详细</a> | 
            <a href="/?m=admin&c=active&a=member&activeid=$article[id]">查看参与用户</a>
        </div>
    </th>
    <td>$article[views]</td>
    <td>$article[pubtime]</td>
    <td>$lang[poststate][$article[state]]</td>
  </tr>
  <!--{/loop}-->
  </tbody>
  <tfoot>
  <tr>
      <td colspan="5">
          <span class="pagebox">$pagination</span>
          <input type="submit" class="button" value="$lang[submit]">　 
          <input type="button" class="button" value="$lang[refresh]" onclick="window.location.reload()">
      </td>
  </tr>
 </tfoot>
</table>
</form>
{template footer}