{template header}
<h2>
{if $G[a]=='editsubject'}编辑考题{else}新增考题{/if}
<a class="addnew" href="/?m=admin&c=exam&a=subject&paperid=$paperid">返回列表</a>
</h2>
<div class="wrapper">
<form method="post">
<input type="hidden" name="formsubmit" value="yes">
<input type="hidden" name="formhash" value="{FORMHASH}">
<table class="formtable" border="0" cellpadding="0" cellspacing="0" width="100%">
  <tbody id="basic">
  <tr>
    <td class="bold">题目标题：</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><input name="newsubject[subject]" class="text" value="$subject[subject]" type="text"></td>
    <td>考题题目</td>
  </tr>
  <tr>
    <td class="bold">题目类型：</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>
      	<select name="newsubject[typeid]" style="width:300px;">
        	{loop $typelist $key $value}
           <option value="$key"{if $key==$subject[typeid]} selected{/if}>$value</option>
           {/loop}
        </select>
    </td>
    <td>题目类型</td>
  </tr>
  <tr>
    <td class="bold">答题方式：</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>
      	<select name="newsubject[valuetype]" style="width:300px;">
        	<option value="radio"{if $subject[valuetype]=='radio'} selected{/if}>单选按钮</option>
           <option value="checkbox"{if $subject[valuetype]=='checkbox'} selected{/if}>多选按钮</option>
           <option value="yesorno"{if $subject[valuetype]=='yesorno'} selected{/if}>二选一是或否</option>
           <option value="text"{if $subject[valuetype]=='text'} selected{/if}>单行文本框</option>
           <option value="textarea"{if $subject[valuetype]=='textarea'} selected{/if}>多行文本框</option>
        </select>
    </td>
    <td>答题方式,单选题和是非题选择“单选按钮”，多选题选择“多选按钮”，论述题选择“多行文本框”</td>
  </tr>
  <tr>
    <td class="bold">题目选项：</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><textarea name="options" class="textarea" style="height:120px;">$options</textarea></td>
    <td>每行一个，格式:选项=选项值，如A=好，是非题论述题请留空</td>
  </tr>
  <tr>
    <td class="bold">参考答案：</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><textarea name="newsubject[answer]" class="textarea" style="height:120px;">$subject[answer]</textarea></td>
    <td>参考答案，是非题请用Y表示正确，N表示错误</td>
  </tr>
  </tbody>
  <tfoot>
    <tr class="bottom">
      <td colspan="2"><input name="button-submit" class="button submit" value="提交" type="submit"></td>
    </tr>
  </tfoot>
</table>
</form>
</div>
{template footer}