{template header}
<h2>
<span class="right">
	<form name="search" action="/?">
        <input type="hidden" name="m" value="$G[m]">
        <input type="hidden" name="c" value="$G[c]">
        <input type="hidden" name="a" value="$G[a]">
        <input type="hidden" name="paperid" value="$paperid">
        <select name="field" id="field">
        	<option value="">不限</option>
        	<option value="uid"{if $field=='uid'} selected{/if}>UID</option>
           <option value="username"{if $field=='username'} selected{/if}>姓名</option>
           <option value="idnumber"{if $field=='idnumber'} selected{/if}>身份号</option>
        </select>
        <input type="text" class="text text200" name="kw" value="$kw">
        <input type="submit" class="button search" value="$lang[search]">
    </form>
</span>
答题记录
<a class="addnew" href="/?m=$G[m]&c=$G[c]&a=paper">试卷列表</a>
</h2>
<form name="articles" id="articles" method="post">
<input type="hidden" name="formsubmit" value="yes" />
<input type="hidden" name="formhash" value="{FORMHASH}">
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="listtable">
<thead>
  <tr>
    <th width="30"><input type="checkbox" class="checkbox" onclick="DSXCMS.checkAll(this,'delete[]')"></th>
    <th width="80" style="cursor:pointer;" onclick="toggleSort('recordid','$asc');" title="按考试时间排序">姓名</th>
    <th width="150">身份证号</th>
    <th width="120">所在乡镇</th>
    <th>所在单位</th>
    <th width="120">考试时间</th>
    <th width="60">正常交卷</th>
    <th width="80" style="cursor:pointer;" onclick="toggleSort('spenttime','$asc');" title="按用时排序">答题用时</th>
    <th width="60" style="cursor:pointer;" onclick="toggleSort('score','$asc');" title="按成绩排序">答题成绩</th>
  </tr>
 </thead>
 <tbody>
  <!--{loop $recordlist $list}-->
  {eval $list[spenttime]=$this->_formatTime($list[submittime]-$list[starttime]);}
  {eval $list[starttime]=@date('Y-m-d H:i',$list[starttime]);}
  <tr>
    <td><input type="checkbox" class="checkbox" name="delete[]" value="$list[recordid]"></td>
    <th><a href="/?m=exam&c=paper&a=viewpaper&uid=$list[uid]&recordid=$list[recordid]" target="_blank">$list[username]</a></th>
    <td>$list[idnumber]</td>
    <td>$list[town]</td>
    <td>$list[company]</td>
    <td>$list[starttime]</td>
    <td><center>{if $list[submited]}是{else}否{/if}</center></td>
    <td>$list[spenttime]</td>
    <th><center>$list[score]</center></th>
  </tr>
  <!--{/loop}-->
  </tbody>
  <tfoot>
  <tr>
      <td colspan="9">
          <span class="pagebox">$pages</span>
          <input type="submit" class="button" value="删除">　 
          <input type="button" class="button" value="$lang[refresh]" onclick="window.location.reload()">　 
          <a class="button" href="/?m=$G[m]&c=$G[c]&a=exportresult&paperid=$paperid">导出EXCEL表格</a>
      </td>
  </tr>
 </tfoot>
</table>
</form>
<script type="text/javascript">
function toggleSort(field,asc){
	var asort = asc == 'ASC' ? 'DESC' : 'ASC';
	window.location.href = '/?m=$G[m]&c=$G[c]&a=$G[a]&paperid=$paperid&orderby='+field+'&asc='+asort;
}
</script>
{template footer}