{template header}
<h2>问卷调查记录</h2>
<form method="post">
<input type="hidden" name="formsubmit" value="yes" />
<input type="hidden" name="formhash" value="{FORMHASH}">
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="listtable">
<thead>
  <tr>
    <th width="30"><input type="checkbox" class="checkbox" onclick="DSXCMS.checkAll(this,'delete[]')"></th>
    <th style="cursor:pointer;" onclick="toggleSort('$asc');" title="按时间排序">用户名</th>
    <th width="120">参与时间</th>
  </tr>
 </thead>
 <tbody>
  <!--{loop $recordlist $list}-->
  {eval $time=@date('Y-m-d H:i',$list[dateline]);}
  <tr>
    <td><input type="checkbox" class="checkbox" name="delete[]" value="$list[recordid]"></td>
    <th>{if $list[username]}<a href="/?m=space&uid=$list[uid]" target="_blank">$list[username]</a>{else}游客{/if}</th>
    <td>$time</td>
  </tr>
  <!--{/loop}-->
  </tbody>
  <tfoot>
  <tr>
      <td colspan="9">
          <span class="pagebox">$pages</span>
          <input type="submit" class="button" value="删除">　 
          <input type="button" class="button" value="$lang[refresh]" onclick="window.location.reload()">
      </td>
  </tr>
 </tfoot>
</table>
</form>
<script type="text/javascript">
function toggleSort(asc){
	var asort = asc == 'ASC' ? 'DESC' : 'ASC';
	window.location.href = '/?m=$G[m]&c=$G[c]&a=$G[a]&asc='+asort;
}
</script>
{template footer}